@font-face {
  font-family: 'Cocogoose';
  src: url('../assets/fonts/Cocogoose-Pro-Semilight-trial.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../assets/fonts/Cocogoose-Pro-Bold-trial.ttf');
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-width: none;
}

body {
  background-color: #8E0800;
}

.header {
  position: fixed;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 2;
}

.menu {
  border: 1.5px solid white;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  gap: 0.4rem;
  padding: 2px;
  width: fit-content;
}

.menu-button {
  background-color: transparent;
  border-radius: 48px;
  border: none;
  color: white;
  font-family: 'Cocogoose';
  font-size: 1.1rem;
  padding: 0.4rem 1.5rem;
}

.selected {
  background-color: white;
  color: #8F140D;
}

.logo {
  height: 3.5rem;
}

main,
section {
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 0 2rem;
  box-sizing: border-box;
}

main {
  background-color: #8E0800;
  opacity: 1;
  background-image: radial-gradient(#a53833 2px, #8E0800 1px);
  background-size: 30px 30px;
  background-attachment: fixed;
}

.char-img {
  height: 95vh;
  z-index: 1;
}

.subtitle {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  height: clamp(4rem, 34vh, 18rem);
}

.subtitle-mobile {
  position: absolute;
  width: 100vw;
  padding: 0 2rem 0 2rem;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  z-index: 1;
  padding: 0 2rem 0 2rem;
  
  .text {
    color: white;
    font-family: 'Cocogoose';
    font-weight: bold;
    font-size: clamp(3.3rem, 8vw, 6rem);
  }

  .outline {
    font-size: clamp(2.2rem, 4vw, 3.2rem);
    -webkit-text-stroke: 2px white;
    color: transparent;
  }

  .deco-img {
    width: 20%;
  }
}


/*TABLET SPECS AND MEDIA QUERY BREAKPOINT*/
@media ((min-width: 767.98px) and (max-width: 991.98px)) { 
  .char-img {
    height: 80vh;
    margin-left: 20%;
  }

  .subtitle-mobile {
    top: 7%;
    width: 70vw;
  }
}


/*MOBILE SPECS AND MEDIA QUERY BREAKPOINT*/
@media (max-width: 767.98px) { 
  .char-img {
    height: 70vh;
    margin-left: 20%;
  }
}